/* Google Colors */
.google-blue-bg{
   background-color: #4285F4; 
}

.google-red-bg{
    background-color: #DB4437;
}

.google-green-bg{
    background-color: #0F9D58;
}

.google-yellow-bg{
    background-color: #F4B400;
}

.dsc-light-bg{
    background-color: #f4f4f4;
}




