<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container mt-5">
        <p class="text-center display-1 pt-5">Page Coming Soon!</p>
    </div>

    <%- include('./partials/bootsrapJS.ejs') %>
</body>

</html>