<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="team-content pb-5" >
        <div class="container-fluid mt-5 pt-5">
           <p class="h2 text-center pt-2">Core Team</p>
        </div>
        <div class="container mb-5">
            <!-- ==================================================== ROW-1 ===================================================== -->
            <div class="row w3-animate-right">
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/alexander_garcia.png" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Alexander Garcia</p>
                            <p class="card-subtitle text-center team-lead-text small">Founder</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://alexandermgarcia.com" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                            <a id="linkedin" href="https://www.linkedin.com/in/alexandermgarcia" target="blank">
                                <i class="fab fa-linkedin-in social-icons"></i></a>
                            <a id="github" href="https://github.com/djauxel" target="blank">
                                <i class="fab fa-github social-icons"></i></a>
                            <a id="instagram" href="https://www.instagram.com/alexnlt9" target="blank">
                                <i class="fab fa-instagram social-icons"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/mane_telpian.jpg" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Mane Telpian</p>
                            <p class="card-subtitle text-center team-lead-text small">Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://dsc.community.dev/u/mwx32h/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                            <a id="linkedin" href="https://www.linkedin.com/in/mane-telpian/" target="blank">
                                <i class="fab fa-linkedin-in social-icons"></i></a>
                            <a id="instagram" href="https://www.instagram.com/therealmanetelpian/" target="blank">
                                <i class="fab fa-instagram social-icons"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/asma.png" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Asma Ahmed</p>
                            <p class="card-subtitle text-center team-lead-text small">Co - Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://dsc.community.dev/u/mrwn2b/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/placeholder.png" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Sahar Mosleh</p>
                            <p class="card-subtitle text-center faculty-advisor-text small">Faculty Advisor</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://www2.calstate.edu/csu-system/faculty-staff/outstanding-faculty/Pages/sahar-mosleh.aspx" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ==================================================== ROW-2 ===================================================== -->
            <div class="row w3-animate-right">
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/meah_bustria.jpg" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Mhealyssaah Bustria</p>
                            <p class="card-subtitle text-center graphic-design-lead-text small">Graphic Design Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://dsc.community.dev/u/mrwn2b/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                            <a id="linkedin" href="https://www.linkedin.com/in/mhea-bustria" target="blank">
                                <i class="fab fa-linkedin-in social-icons"></i></a>
                                
                        </div>
                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/naela_mendoza.jpg" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Naela Mendoza</p>
                            <p class="card-subtitle text-center graphic-design-lead-text small">Digital Media Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://dsc.community.dev/u/mvfrrd/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/andro.png" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Andro Yono</p>
                            <p class="card-subtitle text-center business-lead-text small">Marketing Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://dsc.community.dev/u/mj4nyw/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                                
                            <a id="linkedin" href="https://www.linkedin.com/in/andro-yono-8642aba0/" target="blank">
                                <i class="fab fa-linkedin-in social-icons"></i></a>
                            <a id="github" href="https://github.com/androyono" target="blank">
                                <i class="fab fa-github social-icons"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/sarai_alvarez.jpg" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Sarai Alvarez</p>
                            <p class="card-subtitle text-center event-planning-lead small">Event Planning Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://dsc.community.dev/u/mpqxsw/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                            <a id="linkedin" href="https://www.linkedin.com/in/sarai-alvarez/" target="blank">
                                <i class="fab fa-linkedin-in social-icons"></i></a>  
                        </div>
                    </div>
                </div>
            </div>
            <!-- ==================================================== ROW-3 ===================================================== -->
            <div class="row w3-animate-right">
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/ace.jpg" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Ace Gabriel</p>
                            <p class="card-subtitle text-center technical-lead-text small">Technical Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://dsc.community.dev/u/mj72wx/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                            <a id="linkedin" href="https://www.linkedin.com/in/acegfig/" target="blank">
                                <i class="fab fa-linkedin-in social-icons"></i></a>
                            <a id="github" href="https://github.com/AceGabrielFigueroa" target="blank">
                                <i class="fab fa-github social-icons"></i></a>    
                        </div>
                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/placeholder.png" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Kaitlyn Vuong </p>
                            <p class="card-subtitle text-center technical-lead-text small">Technical Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://dsc.community.dev/u/mrwn2b/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/kyle_java.jpg" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Kyle Java</p>
                            <p class="card-subtitle text-center technical-lead-text small">Technical Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://kylejava.dev/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                            <a id="linkedin" href="https://www.linkedin.com/in/kyle-java-4a717a169/">
                                <i class="fab fa-linkedin-in social-icons"></i></a>
                            <a id="github" href="https://github.com/kylejava" target="blank">
                                <i class="fab fa-github social-icons"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ==================================================== ROW-4 ===================================================== -->
            <div class="row w3-animate-right">
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/brandon_mendoza.jpg" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Brandon Mendoza</p>
                            <p class="card-subtitle text-center technical-lead-text small">Technical Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://dsc.community.dev/u/myzg4q/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                            <a id="github" href=""><i class="fab fa-github social-icons"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/cam_muriel.jpeg" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Cameron Murriel</p>
                            <p class="card-subtitle text-center technical-lead-text small">Technical Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="https://dsc.community.dev/u/mvq7uq/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                            <a id="linkedin" href="https://www.linkedin.com/in/cameron-murriel-2b1558190/" target="blank">
                                <i class="fab fa-linkedin-in social-icons"></i></a>
                            <a id="github" href="https://github.com/cammurriel" target="blank">
                                <i class="fab fa-github social-icons"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm p-3">
                    <div class="card dsc-light-bg">
                        <div class="p-3 profile-img-wrapper">
                            <img class="card-img-top profile-img" src="./images/core-team/benjamin.png" alt="Human_Portrait">
                        </div>
                        <div class="name-container p-3">
                            <p class="card-title text-center team-lead-name team-member-text">Benjamin Ombeni</p>
                            <p class="card-subtitle text-center development-lead-text small">Development Lead</p>
                        </div>
                        <div class=" d-flex justify-content-around p-3">
                            <a id="portfolio" href="http://benjaminombeni.com/" target="blank">
                                <i class="fas fa-globe social-icons"></i></a>
                            <a id="linkedin" href="https://www.linkedin.com/in/benmob/" target="blank">
                                <i class="fab fa-linkedin-in social-icons"></i></a>
                            <a id="github" href="https://github.com/BenMob" target="blank">
                                <i class="fab fa-github social-icons"></i></a>
                            <a id="instagram" href="https://www.instagram.com/bendev3/" target="blank">
                                <i class="fab fa-instagram social-icons"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- END OF TEAM ROASTER-->
    </div> <!-- END OF CONTENT-->
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/bootsrapJS.ejs') %>
</body>

</html>