<!-- Footer -->
<footer id="footer" class="page-footer border border-right-0 border-left-0 border-bottom-0">

    <!-- Footer Links -->
    <div class="text-center p-3">
        <div class="">
            <div class="">
                <p class="h5" >DSC CSUSM | Powered by Developer Student Clubs</p>
                <p>California State University San Marcos</p>
                <p>333 S Twin Oaks Valley Rd, San Marcos, CA 92096</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->