<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/dsc.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/6aec46af78.js"></script> <!-- Material Design Icons -->
    <title>DSC | CSUSM</title>
    <link rel="icon" href="/images/logos/dsc-log-2.png" type="image/icon type">
</head>
