<!-- The navigation bar on each page-->
<nav class="navbar fixed-top navbar-expand-sm navbar-light shadow-sm ">
    <div class="container">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navigation">
            <div class="navbar-nav">
                <a class="navbar-brand" href="/">
                    <img src="/images/logos/dsc-logo-2.png" width="45" height="45" alt="dsc-logo">
                </a>
                <a id="home-url" class="nav-item nav-link pt-3" href="/#home">Home</a>
                <a id="about-url" class="nav-item nav-link pt-3" href="/#about">About</a>
                <a id="team-url" class="nav-item nav-link pt-3" href="/team">Team</a>
                <a id="contact-url" class="nav-item nav-link pt-3" href="/contact">Contact</a>
                <div class="nav-item">
                    <a class="nav-item nav-link pt-3 dropdown-toggle" type="button" id="events" area-haspopup="true"
                        area-expanded="false" data-toggle="dropdown">Events</a>
                    <div class="dropdown-menu w3-animate-zoom" area-labelledby="events">
                        <a class="dropdown-item" href="https://dsc.community.dev/california-state-university-san-marcos/">Upcoming DSC
                            events at CSUSM</a>
                        <a class="dropdown-item" href="https://dsc.community.dev/chapters/">Search for DSC events globally</a>
                    </div>
                </div>
            </div>
            <div class="ml-auto d-flex d-flex-row-reverse">
                <div class="pt-3">
                    <a class="media-icon nav-link" href="https://www.instagram.com/dsc.csusm/"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="pt-3">
                    <a class="media-icon nav-link" href="https://discord.gg/x9HpdPk"><i class="fab fa-discord"></i></a>
                </div>
                <div class="pt-3">
                    <a class="media-icon nav-link" href="https://twitter.com/dsccsusm"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>        
    </div>
</nav>